body{margin: 0; background: #000; font-family: 'Arial', serif}
a{text-decoration: none; color: #1c64a1}
a:hover{color: #fab10d}
#base{background: #f2f0ec}
.main{width: 980px; margin: 0 auto}
#login{text-align: right; padding: 10px}
#logintext{padding-right: 20px}
header{clear: both; width: 100%; background: #fff; padding: 0 0 120px 0}
#headerlogo{color: #fff; float: left; padding-top: 47px}
#logo{font-family: 'Kite One'; font-size: 25px; color: #fab10d; font-weight: bold}
#headermenu{float: right; margin: 0}
#headermenu li{list-style: none; font-weight: bold; float: left; padding: 48px 20px}
#headermenu li a{display: block}
#headermenu a{color: #000; text-decoration: none; text-transform: uppercase}
#headermenu a:hover{color: #fab10d}
#content{overflow: auto}
footer{background: #000}
#footermenu{float: right; margin: 0}
#footermenu li{list-style: none; font-weight: bold; float: left; padding: 48px 20px}
#footermenu li a{display: block}
#footermenu a{color: #fff; text-decoration: none; text-transform: uppercase}
#footermenu a:hover{color: #fab10d}
